<div class="container-fluid">
  <%= link_to :back do %>
    <i class="ion-android-arrow-back"></i> Back
  <% end %>

  <h2>Ask a Question</h2>

  <%= render partial: 'form', locals: { question: @question } %>
</div>
