<h1 class="turquoise">Ask a Question</h1>

<%= link_to :back do %>
  <i class="ion-android-arrow-back"></i> Back
<% end %>

<%= render partial: 'form', locals: {question: @question, categories: @categories} %>
