<div class="container-fluid">
  <h1 class="turquoise">Welcome, <%= @user_greeting %></h1>

  <h3>Here are the most recent questions from users:</h3>

  <% @questions.each do |q| %>
    <p><%= link_to q.content, question_path(q) %></p>
  <% end %>

</div>
