<div class="container-fluid">
  <h1 class="turquoise">Welcome, <%= @user_greeting %></h1>

  <h2><span>Above is h1. Here is some h2 text.</span></h2>

  <h3>H3 example</h3>

  <p>
    p.example
  </p>

</div>
