<h1 id="heading">Try This</h1>
<h3 id="subheading"><i class="glyphicon glyphicon-hand-right"></i> Find crowdsourced solutions to everyday problems</h3>

<% if current_user %>
  <div class="round-box">
    <%= render partial: 'questions/form', locals: { question: @question, categories: @categories, category: @category } %>
  </div>
<% end %>

<div id="most-recent">
  
</div>

<div id="most-popular">

</div>
