<h1>Hi, <%= @user_greeting %></h1>

<%= render partial: 'questions/form', locals: { question: @question, categories: @categories, category: @category } %>

<div id="most-recent">

</div>

<div id="most-popular">

</div>
