.logo {
 color: #44B3C2;
 font-size: 185%;
 font-family: 'Pacifico'
}

.error {
 color: #b00058;
}

* {
 font-family: 'Montserrat';
}

.round-box {
  border: 1px solid;
  border-color: red;
  border-radius: 15px;
}

.heading {
  text-align: center;
  font-size: 385%;
  font-family: 'Pacifico';
  color: #44B3C2;
}
