<div class="back container-fluid">
  <%= link_to :back do %>
    Back
  <% end %>
</div>

<a href="#" class="js-next" data-id="<%=@category.id%>">Next...</a>

<h1 class="categoryName"></h1>

<div class="cat-q">

</div>
