<div class="container-fluid">
  <h1 class="turquoise"><%= @category.name %></h1>

  <% @questions.each do |question| %>
    <p><%= link_to question.content, question_path(question) %> <%= question.formatted_date %></p>
  <% end %>
</div>
