<%= link_to :back do %>
  <i class="ion-android-arrow-back"></i> Back
<% end %><br></br>

<a href="#" class="js-next" data-id="<%=@category.id%>">Next...</a>

<h1 class="categoryName"></h1>

<div class="cat-q">

</div>
