<div class="back container-fluid">
  <%= link_to :back do %>
    Back
  <% end %>
</div>

<h1>Add a Solution</h1>

Question: <%= @question.content %><br><br>

<%= render partial: 'form', locals: {solution: @solution, question: @question}%>
